{{> head }}
{{> navbar }}
    
    <div class="row">
        <div class="col-8">
            <h1>Undertaker</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, a porro ratione optio pariatur non quod eveniet libero laudantium, necessitatibus excepturi officiis dicta officia magnam corporis eius suscipit cum earum?</p>
        </div>
        <div class="col-4">
            <img src="assets//img/taker.jpg" class="img-thumbnail">
        </div>    
    </div>
    

{{> footer }}